@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"); */
body {
    font-family: "Roboto", sans-serif;
}

.container {
    padding-right: 1rem !important;
    padding-left: 1rem !important;
    margin-right: auto !important;
    margin-left: auto !important;
}
@media (min-width: 640px) {
    .container {
        max-width: 540px !important;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 720px !important;
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 960px !important;
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1140px !important;
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1320px !important;
    }
}

.main-btn {
    padding: 1rem;
    background-color: #ff9800;
    border-radius: 0.375rem;
}
